.head
{
    margin-bottom: 28px;
    display: flex;
    justify-content: space-around;
    position: relative; 
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    margin-top: 0;
    border: 2px solid rgb(238, 236, 236);
}
.feed{
    width: 60vw;
}
h5,h6,p,span{
    color: black;
}
i{
    cursor: pointer;
}

.top.active
{
    color: #ee6000;
}

.top> span
{   cursor: pointer;
    font-size: 1.2em;
    position: relative;
    color: purple;
}

.top.active span:after
{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -13px;
    height: 4px;
    background-color: #ee6000;
}

#composer
{  display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    width: auto;
    border: 2px solid rgb(238, 236, 236);
}

 .top2
{
    position: relative;
    cursor: pointer;
}

.top2.active
{
    color: #373737;
}

.top2.active span:after
{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-color: transparent #ececec #ececec transparent;
    margin: 0 auto;
    background-color: #fff;
    transform: rotateZ(45deg);
}


.create
{   display: flex;
    justify-content:space-evenly;
    position: relative;
    padding: 10px;
    border: 2px solid rgb(238, 236, 236);
}


.post
{    display: flex;
    flex-direction: column;
     margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    height: fit-content;
    border: 2px solid rgb(238, 236, 236);
}

.p-cnt-v
{  width: 80%;
    height: 400px;
    margin: auto;
  
}
.p-cnt-v>img{
    background-size: cover;
    height: 100%;
    width: 100%;
    border: solid 3px rgb(241, 240, 240);
    border-radius: 10px;
}
.p-acts{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
