body{
    margin: 0;
}
.container{
    padding: 2%;
    margin-top: 50px;
    background-color: white;
}
.teams{
    align-items: center;
    padding: 2%;
}
.goals{
    width: 80%;
    margin: auto;
    padding: 2%;
    border-top: 2px solid rgb(206, 206, 206);
}

  